<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envoyer un Message</title>
</head>
<body>
    <h1>Envoyer un Message</h1>
    <form method="POST">
        <label for="pseudo">Pseudo:</label><br>
        <input type="text" id="pseudo" name="pseudo"><br>
    
        <label for="content">Message:</label><br>
        <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
    
        <input type="submit" value="Envoyer">
    </form>    
</body>
</html>
